doctype html
title Engine :: Two
style.
    * {margin:0;padding:0;}
    html, body {background:#fff;overflow:hidden;height:100%;}
    canvas {display:block;box-shadow:0 8px 14px -6px #000;}
body
    script(src="bin/helper.js")
    script(src="bin/rectangle.js")
    script(src="bin/main.js")
