title Game of Life
style.
    * {margin:0;padding:0;}
    canvas {box-shadow: 0px 8px 20px -6px #000;}
canvas#paper
script(src="bin/math.js")
script(src="bin/cells.js")
script(src="bin/life.js")
    
