doctype html
title asteroids
link(rel="stylesheet",href="css/style.css")
body
    script(src="bin/polygon.js")
    script(src="bin/asteroid.js")
    script(src="bin/ship.js")
    script(src="bin/state.js")
    script(src="bin/gamestate.js")
    script(src="bin/canvas.js")
    script(src="bin/main.js")
    
